:root{
    --myBlue: #1e2e3d;
    --boxShadow: 5px 5px 5px rgba(199, 192, 192, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s linear;
}

.mobile-navbar{
    display: none;
}

body{
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


header .logo{
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo img{
    width: 25%;
    height: 60px;
    border-radius: 50%;
}

header .logo #menu-btn{
    color: var(--myBlue);
    font-size: 30px;
    display: none;
}


header .desktopNav{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktopNav .myNav{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktopNav .account{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktopNav .myNav a{
    color: var(--myBlue);
    font-size: 17px;
    text-decoration: none;
    padding: 5px;
}

header .desktopNav .myNav a:hover{
    background-color: var(--myBlue);
    color: #fafafa;
}


header .desktopNav .account a{
    background-color: var(--myBlue);
    color: #fafafa;
    font-size: 17px;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
}

header .desktopNav .account a:hover{
    color: var(--myBlue);
    background-color: transparent;
    border: solid 1px var(--myBlue);
}


body .main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 170px;
}

.main-container .post-wrapper{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 30px 30px 30px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

.main-container .post-wrapper h1{
    background-color: transparent;
    color: var(--myBlue);
    text-transform: uppercase;
    text-align: center;
}

.main-container .post-wrapper .date-author{
    font-size: 17px;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.main-container .post-wrapper .date-author span{
    color: grey;
}

.main-container .post-wrapper .date-author a{
  color: blue;
  text-decoration: none;
}

.main-container .post-wrapper img{
    width: 100%;
    height: 400px;
}

.main-container .post-wrapper p{
    font-size: 17px;
}



.main-container .side-tags{
    width: 30%;
    height: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}


.main-container .side-tags h3{
    font-size: 22px;
    background-color: var(--myBlue);
    color: white;
    height: 50px;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.main-container .side-tags hr{
    height: 2px;
    background-color: grey;
    opacity: .4;
}

.main-container .side-tags p{
    font-size: 15px;
    color: grey;
}

.main-container .side-tags form{
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.main-container .side-tags form input{
    height: 100%;
    width: 60%;
    border: none;
    background: transparent;
}

.main-container .side-tags form input:focus{
    outline: none;
}

.main-container .side-tags form i{
    font-size: 20px;
    color: grey;
}



.main-container .side-tags .popular-topics{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.main-container .side-tags .popular-topics .topic{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-size: 19px;
}


.main-container .side-tags .latest-wrapper{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.main-container .side-tags .latest-wrapper .latest-post{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.main-container .side-tags .latest-wrapper .latest-post img{
    height: 100%;
    width: 50%;
    border-radius: 5px;
}

.main-container .side-tags .latest-wrapper .latest-post .caption{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-container .side-tags .latest-wrapper .latest-post .caption h3{
    font-size: 19px;
}


.main-container .side-tags .recent-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}


.main-container .side-tags .recent-wrapper .recent{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.main-container .side-tags .recent-wrapper .recent img{
    height: 90%;
    width: 50%;
    border-radius: 5px;
}

.main-container .side-tags .recent-wrapper .recent .caption{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-container .side-tags .recent-wrapper .recent .caption h3{
    font-size: 19px;
}

.main-container .side-tags .tag-wrapper{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container .side-tags .tag-wrapper .tags{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-container .side-tags .tag-wrapper .tags a{
    height: 100%;
    width: 20%;
    font-size: 17px;
    border: 1px solid var(--myBlue);
    color: var(--myBlue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
}

.main-container .side-tags .tag-wrapper .tags a:hover{
    background-color: var(--myBlue);
    color: white;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: var(--myBlue);
    color: white;
    font-size: 17px;
    margin-top: 150px;
}

footer img{
    width: 200px;
    height: 90px;
    border-radius: 10px;
}

footer .who-we-are{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    gap: 30px;
    margin-top: 50px;
}

footer .quick-links{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 25%;
    gap: 20px;
    list-style: none;
}

footer .quick-links h3{
    color: var(--myBlue);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 50%;
    padding-left: 5px;
}

footer .quick-links li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

footer .quick-links li a:hover{
    color: var(--myBlue);
    background-color: white;
    width: 25%;
    padding: 3px;
    border-radius: 5px;
}


footer .contact{
    width: 25%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
}

footer .contact .cont{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 60px;
}

footer .contact .cont span{
    display: flex;
    flex-direction: column;
}

footer .contact .cont span .mymail{
    text-transform: none;
}


@media (max-width: 500px){

    html{
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    body{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    header{
        width: 100%;
        background-color: #fafafa;
    }

    header .logo #menu-btn{
        display: block;
        cursor: pointer;
        font-size: 30px;
    }


    header .desktopNav, .account{
        display: none;
    }

    header .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    
    header .logo img{
        width: 60px;
        height: 60px;
        margin-left: 50px;
    }


    header .mobile-navbar{
        display: none;
        flex-direction: column;
        position: absolute;
        gap: 50px;
        top: 0;
        left: 0;
        width: 70vw;
        height: 100vh;
        background-color: #fafafa;
        box-shadow: var(--boxShadow);
    }

    header .mobile-navbar .mobile-navbar-items{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    header .mobile-navbar .mobile-navbar-items a{
       width: 100%;
       background-color: var(--myBlue);
       color: white;
       height: 40px;
       font-size: 17px;
       text-decoration: none;
       display: flex;
       align-items: center;
       padding-left: 10px;
    }

    header .mobile-navbar .account{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header .mobile-navbar .account a{
        width: 50%;
       background-color: var(--myBlue);
       color: white;
       height: 40px;
       font-size: 17px;
       text-decoration: none;
       display: flex;
       align-items: center;
       padding-left: 10px;
       border-radius: 5px;
    }

    header .mobile-navbar #close{
        position: absolute;
        left: 90%;
        top: 10px;
        cursor: pointer;
    }



    body .main-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 170px;
    }
    
    .main-container .post-wrapper{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 30px 30px 30px 30px;
        background-color: #fafafa;
        border-radius: 5px;
        box-shadow: var(--boxShadow);
    }
    
    .main-container .post-wrapper h1{
        background-color: transparent;
        color: var(--myBlue);
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        font-size: 17px;
    }
    
    .main-container .post-wrapper .date-author{
        font-size: 17px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 5px;
    }
    
    
    .main-container .post-wrapper img{
        width: 100%;
        height: 400px;
    }
    
    .main-container .post-wrapper p{
        font-size: 17px;
    }
    
    
    .main-container .side-tags{
        width: 90%;
        height: 100%;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin-top: 100px;
        padding: 20px;
        border-radius: 5px;
    }
    
    
    .main-container .side-tags h3{
        font-size: 22px;
        background-color: var(--myBlue);
        color: white;
        height: 50px;
        border-radius: 3px;
        padding: 3px;
        display: flex;
        align-items: center;
    }
    
    .main-container .side-tags hr{
        height: 2px;
        background-color: grey;
        opacity: .4;
    }
    
    .main-container .side-tags p{
        font-size: 15px;
        color: grey;
    }
    
    .main-container .side-tags form{
        width: 100%;
        height: 50px;
        background-color: #fafafa;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid grey;
        padding: 0 10px 0 10px;
        border-radius: 5px;
    }
    
    .main-container .side-tags form input{
        height: 100%;
        width: 60%;
        border: none;
        background: transparent;
    }
    
    .main-container .side-tags form input:focus{
        outline: none;
    }
    
    .main-container .side-tags form i{
        font-size: 20px;
        color: grey;
    }
    
    
    
    .main-container .side-tags .popular-topics{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    
    .main-container .side-tags .popular-topics .topic{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        font-size: 19px;
    }
    
    
    .main-container .side-tags .latest-wrapper{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }
    
    
    .main-container .side-tags .latest-wrapper .latest-post{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .main-container .side-tags .latest-wrapper .latest-post img{
        height: 100%;
        width: 50%;
        border-radius: 5px;
    }
    
    .main-container .side-tags .latest-wrapper .latest-post .caption{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .main-container .side-tags .latest-wrapper .latest-post .caption h3{
        font-size: 19px;
    }
    
    
    .main-container .side-tags .recent-wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
    }
    
    
    .main-container .side-tags .recent-wrapper .recent{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .main-container .side-tags .recent-wrapper .recent img{
        height: 90%;
        width: 50%;
        border-radius: 5px;
    }
    
    .main-container .side-tags .recent-wrapper .recent .caption{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .main-container .side-tags .recent-wrapper .recent .caption h3{
        font-size: 19px;
    }
    
    .main-container .side-tags .tag-wrapper{
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .main-container .side-tags .tag-wrapper .tags{
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .main-container .side-tags .tag-wrapper .tags a{
        height: 100%;
        width: 20%;
        font-size: 17px;
        border: 1px solid var(--myBlue);
        color: var(--myBlue);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        text-decoration: none;
    }
    
    .main-container .side-tags .tag-wrapper .tags a:hover{
        background-color: var(--myBlue);
        color: white;
    }


    .recent-posts{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        margin-top: 150px;
        gap: 50px;
    }
    
    .recent-posts .post{
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        padding: 0 10px 5px 10px;
        border-radius: 10px;
        box-shadow: var(--boxShadow);
    }
    
    .recent-posts .post .post-photo{
        width: 100%;
        height: 35%;
        border-radius: 10px;
    }
    
    .recent-posts .post .author{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        height: 60px;
        gap: 10px;
    }
    
    .recent-posts .post .Dp{
        width: 25%;
        height: 80%;
        border-radius: 50%;
    }
    
    .recent-posts .post h3{
        color: white;
        font-size: 18px;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        font-weight: 900;
        text-transform: capitalize;
        background-color: var(--myBlue);
    }
    
    .recent-posts .post p{
        color: var(--myBlue);
        font-size: 17px;
        padding-bottom: 10px;
    }
    
    
    
    .recent-posts .post a{
        color: white;
        background-color: var(--myBlue);
        font-size: 12px;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .recent-posts .post a:hover{
        background-color: lightblue;
        border: 3px solid var(--myBlue);
        color: var(--myBlue);
    }




    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--myBlue);
        color: white;
        font-size: 17px;
        margin-top: 150px;
    }
    
    footer img{
        width: 100px;
        height: 90px;
    }
    
    footer .who-we-are{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        gap: 30px;
        margin-top: 50px;
    }
    
    footer .quick-links{
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 90%;
        gap: 20px;
        list-style: none;
    }
    
    footer .quick-links h3{
        color: var(--myBlue);
        background-color: white;
        width: 40%;
        border-radius: 5px;
    }
    
    footer .quick-links li a{
        color: white;
        text-decoration: none;
        font-size: 17px;
    }
    
    footer .quick-links li a:hover{
        color: var(--myBlue);
        background-color: white;
        width: 25%;
        padding: 3px;
        border-radius: 5px;
    }
    
    
    footer .contact{
        width: 90%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        height: 400px;
        margin-top: 50px;
    }
    
    footer .contact .cont{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        height: 60px;
    }
    
    footer .contact .cont span{
        display: flex;
        flex-direction: column;
    }
    
    footer .contact .cont span .mymail{
        text-transform: none;
    }

}